
.app-container {
    position: relative; 
    height: 100%;
    display: flex;
}

.app-container::before {    
    content: "";
    background-image: url(../assets/images/bg-app3.png);
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.3;
}