.flex-row--center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-row--space-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-row--start {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.flex-row--end {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}