@import "variables";
.modal {
    position: relative;

    .btn--close {
        top: 8px;
        width: 35px;
        height: 35px;
        right: 5px;
        border-radius: 50px;
        z-index: 1;
        text-align: center;
        position: absolute;
        background: none;
        cursor: pointer;

        mat-icon:hover {
            color: $colorRed
        }
    }

    .mdc-dialog__title {
        padding: 0px !important;
    }

    .mdc-dialog__title::before {
        display: contents !important;
        width: 0;
        height: 40px;
        content: "";
        vertical-align: 0;
    }

    .mdc-dialog__content {
        padding: 20px 9px 0px 9px !important;
    }
}
