
// COLORS //
$colorPartner: #21bdff;
$colorFriend: #ff5f00;
$colorOrange: #f34f23;
$colorOrangeLight: #ffa500;
$colorRed: #FE3153;
$colorBlue: #00b7ff;
$colorYellow: #edef00;
$colorGreen: #3dc643;
$colorGray: #f7f7f7;
$colorGrayDark: #525252;
$colorSilver:silver;
$colorLavender:lavender;
$colorPurple: #78288C;
$antiquewhite: antiquewhite;
$colorBlueMadu: #00529e;
$colorWhite: #ffffff;
$colorBlack: #000;
$colorIce: #48acff;

$gray-base: #000;
$gray-darker: lighten($gray-base, 13.5%); // #222
$gray-dark: lighten($gray-base, 20%); // #333
$gray: lighten($gray-base, 33.5%); // #555
$gray-light: lighten($gray-base, 46.7%); // #777
$gray-lighter: lighten($gray-base, 93.5%); // #eee

